<!DOCTYPE html>
<html>
  <head>
    <title> Kamrol Les Abadi | Login </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('../partials/inc/style') %>
  </head>
  <body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="#"><b>Les</b>Go</a>
      </div>
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Lupa Kata Sandi</p>

          <form id="forgot_password_form">
            <div class="input-group mb-3">
              <input id="email" name="email" type="email" class="form-control" placeholder="Email Anda" />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
              </div>
              <!-- /.col -->
              <div class="col-6">
                <button type="submit" class="btn btn-default btn-block" style="background-color: antiquewhite">
                  Kirim Email
                </button>
              </div>
              <!-- /.col -->
            </div>
          </form>
  </body>
  <script src="/plugins/jquery/jquery.min.js"></script>
  <script>
    $("#forgot_password_form").submit(function(e){
      e.preventDefault()
      const data = new FormData(event.target);
      const value = Object.fromEntries(data.entries());
      
      $.ajax({
        type: "POST",
        url: "/auth/request_reset_password",
        data: value,
        success: function(res){
          alert(res.message)
        }
      });
    })
  </script>
</html>


