<!DOCTYPE html>
<html>
  <head>
    <title> LesGo | Ubah Password </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('../partials/inc/style') %>
  </head>
  <body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="#"><b>Les</b>Go</a>
      </div>
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Input your new password</p>

          <form id="new_password_form">
            <div class="input-group mb-3">
              <input id="password" name="password" type="password" class="form-control" placeholder="Password" />
              <div class="input-group-append" onclick="showPassword()">
                <div class="input-group-text">
                  <span id="icon_password" class="fas fa-eye"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="hidden" id="token" name="token" value="<%= token %>">
              <input type="hidden" id="email" name="email" value="<%= email %>">
              <input
                id="confirm_password" name="confirm_password"
                type="password"
                class="form-control"
                placeholder="Confirm Password"
              />
              <div class="input-group-append" onclick="showPasswordConf()">
                <div class="input-group-text">
                  <span id="icon_confirm_password" class="fas fa-eye"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <button type="submit" class="btn btn-primary btn-block"
                style="background-color: antiquewhite;"
                onmouseover="this.style.backgroundColor='#C8BCAC';"
                onmouseout="this.style.backgroundColor='antiquewhite';"
                >
                  Submit
                </button>
              </div>
              <!-- /.col -->
            </div>
          </form>
   
  </body>
  <script src="/plugins/jquery/jquery.min.js"></script>
  <script>
    function showPassword(){
        if($("#password").attr("type") == "password"){
          $("#icon_password").attr("class","fas fa-eye-slash")
          $("#password").attr("type","text")
        }else{
          $("#icon_password").attr("class","fas fa-eye")
          $("#password").attr("type","password")
        }
    }

    function showPasswordConf(){
      if($("#confirm_password").attr("type") == "password"){
          $("#icon_confirm_password").attr("class","fas fa-eye-slash")
          $("#confirm_password").attr("type","text")
        }else{
          $("#icon_confirm_password").attr("class","fas fa-eye")
          $("#confirm_password").attr("type","password")
        }
    }

    $("#new_password_form").submit(function(e){
      e.preventDefault()
      const data = new FormData(event.target);
      const value = Object.fromEntries(data.entries());
      
      $.ajax({
        type: "POST",
        url: "/auth/new_password",
        data: value,
        success: function(res){
          alert(res.message)
          if(res.status == "SUCCESS"){
            window.location.href = '/auth/login'
          }
        }
      });
    })
  </script>
</html>


