<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Kamrol Les Abadi</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Font Awesome -->
    <%- include('inc/style') %>
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <%- include('inc/navbar') %> <%- include('inc/sidebar') %>
    </div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
  </body>
</html>
