<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <%- include('../partials/inc/style') %>
  <%- include('../partials/inc/script') %>
  <title>LesGo | platform tempat les</title>
</head>

<body class="hold-transition layout-top-nav">
<div class="wrapper">
  <div class="container-fluid">
  <nav
  class=" navbar navbar-expand-md navbar-light navbar-white elevation-2"
  style="background-color: antiquewhite "
  >
  <a class="navbar-brand" href="#">
    <span class="brand-text font-weight-high">LesGo</span>
  </a>
    <ul class="navbar-nav ml-5">
      <li class="nav-item">
        <a href="#home" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="#fitur" class="nav-link">Fitur</a>
      </li>
      <li class="nav-item">
        <a href="#about" class="nav-link">Tentang Kami</a>
      </li>
    </ul>
  

    <!-- Masuk & Daftar -->
    <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
    <% if (!user) { %>
        <li class="nav-item">
          <a href="/auth/login" class="btn btn-dark" style="background-color: #b46060;">
          <i class="nav-icon fas fa-arrow-right"> Masuk</i>
          </a>
      </li>
      <li class="nav-item">
        <a href="/auth/register" class="btn btn-dark" style="background-color: #4d4d4d;">
          <i class="nav-icon fa fa-address-card"> Daftar</i>
        </a>
      </li>
    <% } else { %>
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-user"></i> <%= user.username %>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <a href="/list-kelas" class="dropdown-item"> List Kelasmu </a>
          <div class="dropdown-divider"></div>
          <a href="/profile" class="dropdown-item"> Profile </a>
        <div class="dropdown-divider"></div>
        <a href="/auth/change_password" class="dropdown-item"> Change Password </a>
        <div class="dropdown-divider"></div>
        <a href="/auth/logout" class="dropdown-item"> Logout </a>
        </div>
      </li>
    <% } %>
    <!-- if login -->
  </ul>
  </div>
</nav>


<!-- Main Content -->
<div class="content-wrapper">
  <div class="container-fluid">
  <section id="home">
    <div class="media justify-content-around">
      <img src="/dist/img/indonesia.png" alt="Indonesia Landing Page">
      <div class="media-body align-self-center col-lg-4">
        <div class="card card-body bg-dark rounded">
        <h2>Platform Tempat Les yang kamu butuhkan lor solum dolor kamrol ter kamrol kamrol</h2>
        <p class="h2"><a href="<% if (!user) { %>/auth/register<% }else{ %>/list-kelas<% } %>" class="btn btn-dark rounded-pill" style="background-color:#b46060;"><% if (!user) { %>Daftar Sekarang!<% }else{ %>Masuk kelas!<% } %></a></p>
      </div>
      </div>
    </div>
  </section>
  <br>
  <section id="fitur">
    <div class="container-fluid p-0">
      <div class="row g-0">
        <div class="col-lg-6 order-lg-2">
          <img  src="/dist/img/boxed-bg.jpg" class="rounded float-end" alt="fitur1">
        </div>
        <div class="col-lg-6 order-lg-1 align-self-center">
          <h2>Fitur-fitur jawara!</h2>
          <p class="lead mb-0">LeSquad merupakan aplikasi berbasis web, udah gitu aja dulu gaperlu banyak omong langsung pake aja bang</p>
        </div>
      </div>
      <div class="row g-0">
        <div class="col-lg-6">
          <img src="/dist/img/boxed-bg.jpg" class="rounded float-end" alt="fitur1">
        </div>
        <div class="col-lg-6 align-self-center">
          <h2>Mudah digunakan</h2>  
          <p class="lead mb-0">Kami memastikan bahwa LeSquad dapat digunakan oleh seluruh kalangan usia, dan juga memiliki tampilan yang tidak menyulitkan pengguna. Kami selalu terbuka dengan pendapat kalian!</p>
        </div>
      </div>
      <div class="row g-0">
        <div class="col-lg-6 order-lg-2">
          <img  src="/dist/img/boxed-bg.jpg" class="rounded float-end" alt="fitur1">
        </div>
        <div class="col-lg-6 order-lg-1 align-self-center">
          <h2>Gratis!</h2>
          <p class="lead mb-0">LeSquad merupakan aplikasi berbasis website yang dapat dipakai oleh seluruh kalangan pemilik bisnis tempat les!</p>
        </div>
      </div>

    </div>
  </section>
  <footer class="main-footer bg-dark elevation-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-start text-lg-start my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item">.</li>
            <li class="list-inline-item"><a href="#">Contact</a></li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; LeSquad 2023. All Rights Reserved</p>
        </div>
        <div class="col-lg-6 h-100 text-center my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item me-4">
              <a href="#"><i class="nav-icon fa-brands fa-instagram"></i></a>
            </li>
            <li class="list-inline-item me-4">
              <a href="#"><i class="nav-icon fa-brands fa-facebook"></i></a>
            </li>
            <li class="list-inline-item me-4">
              <a href="#"><i class="nav-icon fa-brands fa-twitter"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
</div>

<!-- <a href="/auth/login">Login</a>
<a href="/auth/register">Register</a>
<a href="/auth/forgot_password">Lupa Password</a> -->
</div>
</body>
